@font-face {
    font-family: "Campton Bold";
    src: url("../fonts/campton-cufonfonts/CamptonBold.otf");
}
@font-face {
    font-family: "Campton Light";
    src: url("../fonts/campton-cufonfonts/CamptonLight.otf");
}
@font-face {
    font-family: "Campton Regular";
    src: url("../fonts/campton-cufonfonts/CamptonBook.otf");
}

@font-face {
    font-family: "Campton Medium";
    src: url("../fonts/campton-cufonfonts/CamptonMedium.otf");
}
@font-face {
    font-family: "Campton SemiBold";
    src: url("../fonts/campton-cufonfonts/CamptonSemiBold.otf");
}
@font-face {
    font-family: "Campton ExtraBold";
    src: url("../fonts/campton-cufonfonts/CamptonExtraBold.otf");
}
@font-face {
    font-family: "Campton Book";
    src: url("../fonts/campton-cufonfonts/CamptonBook.otf");
}
body{
    font-family: 'Campton Regular';
}
/* h1,h2,h3,h4,h5,h6{
    font-family: 'Campton Bold';
} */
a,button{
    font-family: 'Campton Medium';
}
.font-SemiBold{
    font-family: 'Campton SemiBold';
}
label{
    font-family: 'Campton Book';
}
