.header-auth__list{
    list-style: none;
    display: flex;
    align-content: space-between;
    padding-left: 0;
}
.header-auth__list li{
    display: inline;
    margin: 3px;
    padding: 0.5rem;
}
.cover_area{
    width: 100%;
    background: url('../images/bg/cover-bg.svg');
    background-size: cover;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.avi-area__photo{
    /* width: 30%; */
    height: 150px;
    background: url('../images/bg/photo-bg.svg');
}
.avi_area{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    position: absolute;
    left: 45%;
    bottom: -1%;
}
.sidebar{
    border-radius: 40px;
    background-color: #FFFF;
    position: fixed;
    width: 250px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1000;
    height: 95vh;
    margin: 1rem;
    overflow-x: hidden !important;
    overflow-y: scroll;
}
.sidebar a{
    font-size: 14px !important;
}
.sidebar a img{
    width: 15px;
}
.main-wrapper{
    background-color: #E4ECF6;
    min-height: 100vh ;
    max-height: auto !important;
}
.main-section{
    padding-left: 250px;
    overflow: hidden;
}

/* .sidebar-list__nav-items{
    padding: 0;
} */
.nav-items{
    padding: 0;
    list-style: none;
}
.sidebar-list .active{
    border-left: 2px solid #333333;
    background-color: #E4ECF6;
}
.sidebar-list .active a{
    color: #333333;
}
.nav-items li{
    padding: 1rem;
    transition: all 0.45s ease-in-out;
}
li a{
    padding: 1rem;
    cursor: pointer;
    color: #757575;   
}
.payment-cards{
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 2rem;
    text-align: center;
    box-shadow:  -4px -4px 10px rgba(242, 242, 242, 0.5), 4px 5px 10px rgba(208, 208, 208, 0.2), inset 0px 4px 10px rgba(238, 238, 238, 0.25);;
}
.payment-cards__inner{
    /* background-color: #E4ECF6;
    padding: 2rem;
    border-radius: 50%; */
}
/* Top right radius: 14px
Bottom right radius: 26px */
.text-pre{
    font-size: 12px;
    font-family: 'Campton Bold';
}
.form-container{
    border-radius: 20px;
    padding: 1rem;
    background-color: #FFFFFF;
}
.form-container h6{
    font-family: 'Campton SemiBold';
}
.card-container{
    background-image: linear-gradient(to right, #932F8F,#530050);
    padding: 1rem;
    border-radius: 30px;
}
.quick-pay{
    background-color: #F4F6F6 !important;
}
.quick-pay .nav-link{
    background-color: #FFFFFF !important;
    color: #932F8F !important;
}
.quick-pay__link.active{
    background-color: #FFD1FD !important;
}
.table thead tr{
    color: #8D9CAE !important;
}
tbody tr{
    background-color: #F5F5F5 !important;
    border-bottom: solid #FFFFFF 5px
}
.table >tbody>tr>td{
    vertical-align: middle;
}
 tbody > tr > td:nth-child(1){
    font-family: "Campton Bold";
}
.tab-link{
    width: 200px !important;
    background-color: inherit !important;
    color: #AAAAAA !important;
}
.tab-link.active{
    border-bottom: 2px solid #932F8F !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    color: #333333 !important;
}
.message-container{
    background-color: #F1F0F7;
    padding: 1rem;
    border-radius: 30px;
}
.form-container__mini{
    width: 40rem;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding:3rem;
}
.input-custome{
    overflow: hidden;
    width: 100%;
}
.small-input{
    width: 120px !important;
    border-radius: 22px;
    font-size: 10px; 
    background-color: #E4ECF6 !important;
    border: 0 !important;
}
.small-input__select{
    width: 120px !important;
    background-color: #E4ECF6;
    border: 0 !important;
    font-size: 10px;
}
.btn-pry__white-xsm{
    color: #FFFFFF;
    width: 100px;
    border-radius: 22px;
    background-color: #932F8F;
    font-size: 10px;
}
.card__holder{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
}
.card__holder p{
    color: #757575;
}
.landing-icons .quick-pay__link{
    background-color: #EFF3FC !important;
    border: 0;
    color: #932F8F;
    font-size: 14px;
}
.quick-pay__button{
    color:#FFFFFF;
    border: 0;
    border-radius: 33px;
    height: 50px;
    background-color: #932F8F;
    width: 100% !important;
    padding: 0.75rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.doability-section,.service-section{
    background-color: #932F8F;
    padding: 5rem;
    padding-bottom: 5rem;
    /* min-height: 0vh; */
}
.hero-section{
    padding-bottom: 2.5rem;
}
.doability-section h3,.service-section h3{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color: #FFFFFF;
}
.doability-section .card{
    border: 0;
    border-radius: 20px;
}
.doability-section .card img{
}
.card a{
    font-family: "Campton Light";
    margin-bottom: 1rem;
}
.buy-section,.sell-section{
    background-color: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
    align-self: center;
}
.buy-section .btn-left, .sell-section .btn-left{
    background-color: #932F8F;
    color: #FFFFFF;
    border-radius: 33px;
}
.buy-section .btn-right{
    background-color: #E4ECF6;
    border-radius: 33px;
}

.mini-card{
    background-color: white;
    border-radius: 20px;
    padding: 1rem;
}
.service-section .btn-center{
    background-color: #FFFFFF;
    border-radius: 33px;
}
.logout-btn{
    background-color: #FFFFFF;
    border-radius: 33px;
    width: 150px;
    padding: 0.5rem;
}
footer{
    background-image: linear-gradient(to bottom, #932F8F,#530050);
    color: #FFFFFF;
}
footer ul{
    padding-left:0;
    list-style: none;
    font-size: 16px;
}
footer ul li{
    padding: 0.5rem 0;
}
footer h6{
    font-size: 18px;
    font-family: "Campton SemiBold";
}
footer p{
    font-size: 14px;
    color: #EEEEEE;
}
footer hr{
    border-color: #FFFFFF;
}