.bg-gray{
    background-color: #F4F6F6 !important;   
}
.bg-pry{
    background-color: #932F8F !important;
}
.bg-sec{
    background-color: #E4ECF6 !important;
}
.bg-def{
    background-color: #999999 !important;
}
.bg-dark-grey{
    background-color: #F5F5F5 !important;
}
.color-pry{
    color: #932F8F !important;
}
.border-radius-30{
    border-radius: 30px;
}
.bg-trans{
    background: transparent;
}
.border-0:focus-visible{
    outline: 0 !important;
}
.w-200p{
    width: 200px;
}
.w-150px{
    width: 150px;
}
.text-muted{
    color: #AAAAAA !important;
}
.text-xsm{
    font-size: 12px !important;
}
.form-control{
    height: 45px !important;
}
.h-45{
    height: 45px !important;
}
.p-2__5{
    padding: 0.75rem !important;
}
.text-sm{
    font-size: 14px !important;
}
.h-100vh{
    height: 85vh;
}
.overflow-h{
    overflow: hidden;
}
.brd-20{
    border-radius: 20px !important;
}
input[disabled]
{
    background-color: #F3F7FC;
}