.bg-gray{
    background-color: #F4F6F6 !important;   
}
.bg-pry{
    background-color: #932F8F !important;
}
.bg-sec{
    background-color: #E4ECF6 !important;
}
.color-pry{
    color: #932F8F !important;
}
.border-radius-30{
    border-radius: 30px;
}
.bg-trans{
    background: transparent;
}
.border-0:focus-visible{
    outline: 0 !important;
}
.w-200p{
    width: 200px;
}