.bg-gray{
    background-color: #F4F6F6 !important;   
}
.bg-pry{
    background-color: #932F8F !important;
}
.bg-sec{
    background-color: #E4ECF6 !important;
}
.bg-def{
    background-color: #999999 !important;
}
.bg-dark-grey{
    background-color: #F5F5F5 !important;
}
.color-pry{
    color: #932F8F !important;
}
.border-radius-30{
    border-radius: 30px;
}
.bg-trans{
    background: transparent;
}
.border-0:focus-visible{
    outline: 0 !important;
}
.w-200p{
    width: 200px;
}
.w-150px{
    width: 150px;
}
.text-muted{
    color: #AAAAAA !important;
}
.text-xsm{
    font-size: 12px !important;
}
/* .form-control{
    height: 45px !important;
} */
.h-45{
    height: 45px !important;
}
.p-2__5{
    padding: 0.75rem !important;
}
.text-sm{
    font-size: 14px !important;
}
.h-100vh{
    height: 85vh;
}
.overflow-h{
    overflow: hidden;
}
.brd-20{
    border-radius: 20px !important;
}
input[disabled]
{
    background-color: #F3F7FC !important;
}
.px-3_5{
    padding-left: 2rem;
    padding-right: 2rem;
}
.border-left{
    border-left: 2px solid #D9D9D9 !important;
}
.border-right{
    border-right: 2px solid #D9D9D9 !important;
}
.extrabold-text{
    font-family: "Campton ExtraBold";
}

/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px grey; 
    border-radius: 5px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #454545; 
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .hidden{
    display: none;
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}